<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lecid %>
    <%= form.text_field :lecid, id: :lecture_lecid %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :lecture_time %>
  </div>

  <div class="field">
    <%= form.label :suite %>
    <%= form.text_field :suite, id: :lecture_suite %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :lecture_type %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :lecture_text %>
  </div>

  <div class="field">
    <%= form.label :userid %>
    <%= form.text_field :userid, id: :lecture_userid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
