<p id="notice"><%= notice %></p>

<p>
  <strong>Lecid:</strong>
  <%= @lecture.lecid %>
</p>

<p>
  <strong>Time:</strong>
  <%= @lecture.time %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @lecture.suite %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lecture.type %>
</p>

<p>
  <strong>Text:</strong>
  <%= @lecture.text %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @lecture.userid %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
