<!--<p>-->
<!--  <strong>标题：</strong>-->
  <%#= @lecture.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>开始时间：</strong>-->
  <%#= @lecture.start_time %>
<!--</p>-->

<!--<p>-->
<!--  <strong>结束时间：</strong>-->
  <%#= @lecture.end_time %>
<!--</p>-->

<!--<p>-->
<!--  <strong>类别：</strong>-->
  <%#= @lecture.category %>
<!--</p>-->

<!--<p>-->
<!--  <strong>内容：</strong>-->
  <%#= raw(@lecture.content) %>
<!--</p>-->

<!--<p>-->
<!--  <strong>举办人：</strong>-->
  <%#= @student.name %>
<!--</p>-->

<!--<p>-->
<!--  <strong>地点：</strong>-->
  <%#= @lecture.suite %>
<!--</p>-->

<%= render "welcome/nav" %>

<div class="container">
  <h1><%= @lecture.title %></h1>
  <div class="raw">
    <label class="col-xs-3">开始时间：<%= @lecture.start_time %></label>
    <label class="col-xs-3">结束时间：<%= @lecture.end_time %></label>
    <label class="col-xs-3">发布人：<%= @lecture.student.name %></label>
    <label class="col-xs-3">地点：<%= @lecture.suite %></label>
  </div>




</div>
  <div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= raw(@lecture.content) %>
    </div>
  </div>
</div>