<p>
  <strong>标题：</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>开始时间：</strong>
  <%= @lecture.start_time %>
</p>

<p>
  <strong>结束时间：</strong>
  <%= @lecture.end_time %>
</p>

<p>
  <strong>类别：</strong>
  <%= @lecture.category %>
</p>

<p>
  <strong>内容：</strong>
  <%= @lecture.content %>
</p>

<p>
  <strong>举办人：</strong>
  <%= @student.student_name %>
</p>

<p>
  <strong>地点：</strong>
  <%= @lecture.suite %>
</p>