<%= render "welcome/admin_nav" %>
<table>
  <tr>
    <th>学号</th>
    <th>姓名</th>
    <th>房间号</th>
    <th colspan="3"></th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td><%= student.number %></td>
      <td><%= student.name %></td>
      <td><%= student.room.name %></td>
      <td><%= link_to '显示具体信息', student_path(student) %></td>
      <td><%= link_to '编排这个学生', edit_student_path(student) %></td>
      <td><%= link_to 'Destroy', student_path(student),
              method: :delete,
              data: { confirm: '确定要删除这条学生信息?' } %></td>
	
    </tr>
  <% end %>
</table>
