<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% provide(:title, "登录") %>
<h1>宿舍管理系统</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "学号/用户名"%>
      <%= f.text_field :number, class: 'form-control' %>

      <%= f.label "密码" %>
      <%= f.password_field :password, class: 'form-control' %>
      <div style="vertical-align:text-top;">
      <%= f.collection_radio_buttons :type,[['学生'],['管理员']],:first,:last, {checked: '学生'}%>
      </div>
      <%=link_to '忘记密码？点击修改',passwd_path %>
      <br><br/>
      <%= f.submit "登录", class: "btn btn-primary",style:"width:100%;" %>
    <% end %>

  </div>
</div>
